:root {
    --animation: 1.5s ease;
    --rotate: 45deg;
    --scale: 1.2;
    --translate-y: 11px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #DFDFDF;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background: #EEE;
    border-radius: 50%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.line {
    position: relative;
    margin: 3px 0;
    width: 50%;
    height: 5px;
    background: indigo;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    border-radius: 5px;
}

.active .line:first-child {
    animation: line-1 var(--animation);
    transform:
            translateY(var(--translate-y))
            rotate(var(--rotate));
}

.active .line:nth-child(2) {
    opacity: 0;
    animation: line-2 var(--animation);
}

.active .line:last-child {
    animation: line-3 var(--animation);
    transform:
            translateY(calc(var(--translate-y) * -1))
            rotate(calc(var(--rotate) * -1));
}

@keyframes line-1 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(11px) rotate(0deg);
    }
    80% {
        transform: translateY(var(--translate-y)) rotate(var(--rotate));
    }
    90% {
        transform:
                translateY(var(--translate-y))
                rotate(var(--rotate))
                scale(var(--scale));
    }
    100% {
        transform:
                translateY(var(--translate-y))
                rotate(var(--rotate))
                scale(1);
    }
}

@keyframes line-2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes line-3 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform:
                translateY(calc(var(--translate-y) * -1))
                rotate(0deg);
    }
    80% {
        transform:
                translateY(calc(var(--translate-y) * -1))
                rotate(calc(var(--rotate) * -1));
    }
    90% {
        transform:
                translateY(calc(var(--translate-y) * -1))
                rotate(calc(var(--rotate) * -1))
                scale(var(--scale));
    }
    100% {
        transform:
                translateY(calc(var(--translate-y) * -1))
                rotate(calc(var(--rotate) * -1))
                scale(1);
    }
}

.disabled .line:first-child {
    animation: line-1-disabled var(--animation);
    transform: translateY(0px);
}


.disabled .line:nth-child(2) {
    animation: line-2-disabled var(--animation);
    opacity: 1;
}


.disabled .line:last-child {
    animation: line-3-disabled var(--animation);
    transform: translateY(0px);
}

@keyframes line-1-disabled {
    0% {
        transform:
                translateY(var(--translate-y))
                rotate(var(--rotate));
    }
    50% {
        transform:
                translateY(var(--translate-y))
                rotate(0);
    }
    80% {
        transform: translateY(0px);
    }
    90% {
        transform: translateY(0px) scale(var(--scale));
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}

@keyframes line-2-disabled {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    80% {
        transform: scale(1);
    }
    90% {
        transform: translateY(0px) scale(var(--scale));
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}

@keyframes line-3-disabled {
    0% {
        transform:
                translateY(calc(var(--translate-y) * -1))
                rotate(calc(var(--rotate) * -1));
    }
    50% {
        transform:
                translateY(calc(var(--translate-y) * -1))
                rotate(0);
    }
    80% {
        transform: translateY(0px);
    }
    90% {
        transform: translateY(0px) scale(var(--scale));
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}
